<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>TobWEAR</title>
</head>
<body>
    
    <div class="container-fluid" id="favorites-header-title">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container justify-content-center">
                <a class="navbar-brand text-white mx-3 navbar-title" href="/">TobWEAR</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="/">Anasayfa</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'about' %}">Hakkımızda</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'products' %}">Ürünler</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'shoppingcard' %}">Sepet</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'favorites' %}">Favoriler</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'login' %}">Giriş</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'register' %}">Kayıt</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'updateuser' %}">Kullanıcı</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row py-5">
            <h1 class="text-center favorites-title">Favori Ürünler</h1>
            <p class="text-center text-white favorites-paragraph">Favori Ürünlerinizin Listesi</p>
        </div>
    </div>



    <div class="container my-4">
        <div class="row text-center my-5">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori Seçin
                </button>
                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1" id="dropdownList">
                    {% for category in categories %}
                        <li><a class="dropdown-item text-white favoritesdropdownlistitem" href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row text-center my-5">
            <div class="form-group row justify-content-center">
                <div class="col-10 col-md-6 d-md-flex justify-content-center mb-2 mb-md-0 me-auto">
                    <input type="number" class="form-control d-none" id="inputPrice1" placeholder="En Az Fiyat">
                </div>
                <div class="col-10 col-md-6 d-md-flex justify-content-center me-auto">
                    <input type="number" class="form-control d-none" id="inputPrice2" placeholder="En Çok Fiyat">
                </div>
            </div>
            <div class="price-button d-flex justify-content-center my-5">
                <button class="btn pricebutton d-none px-5 py-2">Filtrele</button>
            </div>
        </div>

        <div id="products-container">
            {% include "partials/favorites_list.html" %}
        </div>
    </div>



    <footer>
        <div class="container py-5" id="footer-container">
            <div class="row">
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center footer-brand-title">TobWEAR</h1>
                    <p id="footer-brand-paragraph">Gündelik, <span id="footer-brand-span">Klasik</span> Ve Modern</p>
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center pb-2" id="footer-products-title">Ürünler</h2>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center pb-2" id="footer-products-title">Kategoriler</h2>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center pb-2" id="footer-products-title">Menü</h2>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                    <a href="#" class="footer-products-a">
                        <p class="footer-products text-white">Lorem, ipsum dolor.</p>
                    </a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="footer-contact d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="col-md-4 pb-3">
                        <span class="text-white d-flex justify-content-center"><i
                                class="fa-solid fa-phone contact-icon px-1"></i> +90 123 456 78 90 </span>
                    </div>
                    <div class="col-md-4 pb-3">
                        <span class="text-white d-flex justify-content-center"><i
                                class="fa-solid fa-envelope contact-icon px-1"></i> m.toker2009@gmail.com</span>
                    </div>
                    <div class="col-md-4 pb-3">
                        <span class="text-white d-flex justify-content-center"><i
                                class="fa-solid fa-city contact-icon px-1"></i> Ankara, Yenimahalle</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>