<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>TobWEAR</title>
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container justify-content-center">
                <a class="navbar-brand text-white mx-3 navbar-title" href="/">TobWEAR</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="/">Anasayfa</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'about' %}">Hakkımızda</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'products' %}">Ürünler</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'shoppingcard' %}">Sepet</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'favorites' %}">Favoriler</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'login' %}">Giriş</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'register' %}">Kayıt</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-white navbar-text" href="{% url 'updateuser' %}">Kullanıcı</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="row">
            <div class="col-md-6 py-5 d-flex flex-column justify-content-center">
                <div class="main-images my-4 d-flex justify-content-center">
                {% for image in product.images.all %}
                    <div class="default-image active" id="exampleImage{{ image.id }}">
                        <img src="{{ image.images.url }}" class="d-block img-fluid main-image"
                            data-bs-toggle="modal" data-bs-target="#pop-up-image">
                        <div class="productdetail-imageinfo">
                            <p class="productdetail-imageinfotext">Son 24 Saat!</p>
                        </div>
                    </div>
                </div>
                <div class="thumb-images d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ image.images.url }}" class="d-block img-fluid thumb-image"
                                id="exampleImage{{ image.id }}">
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="pop-up-image" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content bg-transparent border-0 shadow-none">
                            <div class="modal-body p-0 d-flex justify-content-center">
                                <div class="row">
                                    <div class="col-md-12 py-5 d-flex flex-column justify-content-center">
                                        <div class="main-images my-4 d-flex justify-content-center">
                                            <div class="popupdefault-image active" id="exampleImage{{ image.id }}">
                                                <img src="{{ image.images.url }}"
                                                    class="d-block img-fluid popupmain-image" data-bs-toggle="modal"
                                                    data-bs-target="#pop-up-image">
                                            </div>
                                        </div>
                                        <div class="thumb-images d-flex justify-content-center">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="{{ image.images.url }}"
                                                        class="d-block img-fluid popupthumb-image" id="exampleImage{{ image.id }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>


            <div class="col-md-6 py-5 d-flex flex-column align-items-center">
                <div class="d-flex flex-column justify-content-center">
                    <h1 class="text-center productdetail-title">{{ product.name }}</h1>
                    {% if product.discounted %}
                        <p class="text-center productdetail-discounted">{{ product.discounted }} TL</p>
                        <p class="text-center productdetail-discountedprice">{{ product.price }} TL</p>
                    {% else %}
                        <p class="text-center productdetail-discounted">{{ product.price }} TL</p>
                    {% endif %}
                </div>

                <div class="row d-flex justify-content-center px-md-5 my-4 productdetail-headerinfo">
                {% for feature in productfeatures %}
                    <div class="col-md-4 mt-3 px-md-3">
                        <h3 class="text-center productdetail-headerinfotitle">{{ feature.name }}</h3>
                        <p class="text-center text-white">{{ feature.feature }}</p>
                    </div>
                {% endfor %}
                </div>
                    <div class="row d-flex flex-row justify-content-center align-items-center mb-5 mt-3">
                        <div class="col-md-6">
                            <h2 class="text-center productdetail-h2">Ürün Rengi</h2>
                            <div class="d-flex flex-row justify-content-center">
                            {% for color in product.colors.all %}
                                <input type="radio" class="btn-check" name="color" id="color-{{ forloop.counter }}-{{ product.id }}" autocomplete="off" value="{{ color.color }}">
                                <label class="btn btn-outline-primary productdetail-colorbutton mx-1 mb-4" for="color-{{ forloop.counter }}-{{ product.id }}" style="background: linear-gradient(45deg, {{ color.code }}, {{ color.code2 }});"></label>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-center productdetail-h2">Ürün Bedeni</h2>
                            <div class="d-flex flex-row justify-content-center">
                            {% for size in product.sizes.all %}
                                <input type="radio" class="btn-check" name="size" id="size-{{ forloop.counter }}-{{ product.id }}" autocomplete="off" value="{{ size.size }}">
                                <label class="btn btn-outline-primary productdetail-sizebutton mx-1 mb-2" for="size-{{ forloop.counter }}-{{ product.id }}">{{ size }}</label>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h2 class="text-center productdetail-h2">Ürün Miktarı</h2>
                    <div class="d-flex flex-row justify-content-center mb-5">
                        <button class="plus-button mx-4"><i class="fa-solid fa-plus" style="color: #c26100;"></i></button>
                        <p class="product-info-paragraph fs-3 mt-2" id="product-quantity" style="color: #2b94d1;">1</p>
                        <button class="minus-button mx-4"><i class="fa-solid fa-minus" style="color: #c26100;"></i></button>
                    </div>
                <button class="btn productdetail-addbasket my-4 w-50">Sepete Ekle</button>
                <button class="btn productdetail-fastbutton w-50">Hemen Satın Al</button>
                {% if product in request.user.favorites.all %}
                <form method="post" class="favoriteform w-100">
                {% csrf_token %}
                    <button class="btn productdetail-deletefavoritebutton my-4 w-50" name="deleteFavoriteButton">Favorilerden Çıkar</button>
                </form>
                {% else %}
                <form method="post" class="favoriteform w-100">
                {% csrf_token %}
                    <button class="btn productdetail-addfavoritebutton my-4 w-50" name="favoriteButton">Favorilere Ekle</button>
                </form>
                {% endif %}
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center productdetail-description my-5">
            <h2 class="text-center productdetail-h2 mt-5">Ürün Özellikleri</h2>
            <div class="row mb-5">
            {% for features in product.features.all %}
                <div class="col-md-4 d-flex justify-content-center my-3">
                    <div class="card productdetail-infocard">
                        <h3 class="text-center productdetail-infocardtitle mt-2">{{ features.name }}</h3>
                        <p class="text-center text-white">{{ features.feature }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <h2 class="text-center productdetail-h2 mt-5">Ürün Açıklaması</h2>
            <p class="text-center text-white mb-5">{{ product.description }}</p>
        </div>

        <div class="productdetail-anotherproducts">
        
            <div class="row d-flex justify-content-center carousel-wrapper" id="carousel-wrapper1">
            
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn anotherproducts-prevbutton"><i class="fa-solid fa-angle-left"
                                style="color: #fff;"></i></button>
                    </div>
                </div>
                {% for anotherproduct in anotherproducts1 %}
                <div class="col-md-2">
                    <div class="card" id="carousel-card" data-product-name="{{ product.slug }}">
                        <div class="image-container">
                            <a href="{% url 'productdetail' anotherproduct.slug %}">
                                <img src="{{ anotherproduct.images.first.images.url }}" class="img-fluid" id="anotherproducts-image">
                            </a>
                        </div>

                        <div class="product-detail-container py-3 d-flex flex-column justify-content-center">
                            <h3 class="text-center px-3" id="product-detail-title">{{ anotherproduct.name }}</h3>
                            <p class="text-center text-white px-3 fs-4">{{ anotherproduct.discounted }} TL</p>
                            <span class="fs-6 text-center" id="product-detail-span">{{ anotherproduct.price }} TL</span>
                        </div>

                        <div class="shopping-container d-flex justify-content-center my-3">
                        {% for size in anotherproduct.sizes.all %}
                            <input type="radio" class="btn-check" name="size" id="anothersize-{{ forloop.counter }}-{{ anotherproduct.id }}" autocomplete="off" value="{{ size.size }}">
                            <label class="btn btn-outline-primary sizebutton mx-1 mb-2" for="anothersize-{{ forloop.counter }}-{{ anotherproduct.id }}">{{ size }}</label>
                        {% endfor %}
                        </div>

                        <div class="shopping-container d-flex justify-content-center">
                        {% for color in anotherproduct.colors.all %}
                            <input type="radio" class="btn-check" name="color" id="anothercolor-{{ forloop.counter }}-{{ anotherproduct.id }}" autocomplete="off" value="{{ color.color }}">
                            <label class="btn btn-outline-primary partialdetail-colorbutton mx-1 mb-4" for="anothercolor-{{ forloop.counter }}-{{ anotherproduct.id }}" style="background: linear-gradient(45deg, {{ color.code }}, {{ color.code2 }});"></label>
                        {% endfor %}
                        </div>

                        <div class="shopping-button d-flex justify-content-center my-3">
                            <button class="btn carddetail-addbasket" value="{{ anotherproduct.id }}">Sepete Ekle</button>
                        </div>
                        {% if anotherproduct in request.user.favorites.all %}
                        <div class="deletefavorite-button d-flex justify-content-center my-3">
                            <button class="btn" name="deleteFavoriteButton">Favorilerden Çıkar</button>
                        </div>
                        {% else %}
                        <div class="addfavorite-button d-flex justify-content-center my-3">
                            <button class="btn" name="favoriteButton">Favorilere Ekle</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn anotherproducts-nextbutton"><i class="fa-solid fa-angle-right"
                                style="color: #fff;"></i></button>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center carousel-wrapper d-none" id="carousel-wrapper2">

                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn anotherproducts-prevbutton"><i class="fa-solid fa-angle-left"
                                style="color: #fff;"></i></button>
                    </div>
                </div>
                {% for anotherproduct in anotherproducts2 %}
                <div class="col-md-2">
                    <div class="card" id="carousel-card" data-product-name="{{ product.slug }}">
                        <div class="image-container">
                            <a href="{% url 'productdetail' anotherproduct.slug %}">
                                <img src="{{ anotherproduct.images.first.images.url }}" class="img-fluid" id="anotherproducts-image">
                            </a>
                        </div>

                        <div class="product-detail-container py-3 d-flex flex-column justify-content-center">
                            <h3 class="text-center px-3" id="product-detail-title">{{ anotherproduct.name }}</h3>
                            <p class="text-center text-white px-3 fs-4">{{ anotherproduct.discounted }} TL</p>
                            <span class="fs-6 text-center" id="product-detail-span">{{ anotherproduct.price }} TL</span>
                        </div>

                        <div class="shopping-container d-flex justify-content-center my-3">
                        {% for size in anotherproduct.sizes.all %}
                            <input type="radio" class="btn-check" name="size" id="size-{{ forloop.counter }}-{{ anotherproduct.id }}" autocomplete="off">
                            <label class="btn btn-outline-primary sizebutton mx-1 mb-2" for="size-{{ forloop.counter }}-{{ anotherproduct.id }}">{{ size }}</label>
                        {% endfor %}
                        </div>

                        <div class="shopping-container d-flex justify-content-center">
                        {% for color in anotherproduct.colors.all %}
                            <input type="radio" class="btn-check" name="color" id="color-{{ forloop.counter }}-{{ anotherproduct.id }}" autocomplete="off" value="{{ color }}">
                            <label class="btn btn-outline-primary partialdetail-colorbutton mx-1 mb-4" for="color-{{ forloop.counter }}-{{ anotherproduct.id }}" style="background: linear-gradient(45deg, {{ color.code }}, {{ color.code2 }});"></label>
                        {% endfor %}
                        </div>

                        <div class="shopping-button d-flex justify-content-center my-3">
                            <button class="btn">Sepete Ekle</button>
                        </div>
                        {% if anotherproduct in request.user.favorites.all %}
                        <div class="deletefavorite-button d-flex justify-content-center my-3">
                            <button class="btn" name="deleteFavoriteButton">Favorilerden Çıkar</button>
                        </div>
                        {% else %}
                        <div class="addfavorite-button d-flex justify-content-center my-3">
                            <button class="btn" name="favoriteButton">Favorilere Ekle</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn anotherproducts-nextbutton"><i class="fa-solid fa-angle-right"
                                style="color: #fff;"></i></button>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center carousel-wrapper d-none" id="carousel-wrapper3">

                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn anotherproducts-prevbutton"><i class="fa-solid fa-angle-left"
                                style="color: #fff;"></i></button>
                    </div>
                </div>
                {% for anotherproduct in anotherproducts3 %}
                <div class="col-md-2">
                    <div class="card" id="carousel-card" data-product-name="{{ anotherproduct.slug }}">
                        <div class="image-container">
                            <a href="{% url 'productdetail' anotherproduct.slug %}">
                                <img src="{{ anotherproduct.images.first.images.url }}" class="img-fluid" id="anotherproducts-image">
                            </a>
                        </div>

                        <div class="product-detail-container py-3 d-flex flex-column justify-content-center">
                            <h3 class="text-center px-3" id="product-detail-title">{{ anotherproduct.name }}</h3>
                            <p class="text-center text-white px-3 fs-4">{{ anotherproduct.discounted }} TL</p>
                            <span class="fs-6 text-center" id="product-detail-span">{{ anotherproduct.price }} TL</span>
                        </div>

                        <div class="shopping-container d-flex justify-content-center my-3">
                        {% for size in anotherproduct.sizes.all %}
                            <input type="radio" class="btn-check" name="size" id="size-{{ forloop.counter }}-{{ anotherproduct.id }}" autocomplete="off">
                            <label class="btn btn-outline-primary sizebutton mx-1 mb-2" for="size-{{ forloop.counter }}-{{ anotherproduct.id }}">{{ size }}</label>
                        {% endfor %}
                        </div>

                        <div class="shopping-container d-flex justify-content-center">
                        {% for color in anotherproduct.colors.all %}
                            <input type="radio" class="btn-check" name="color" id="color-{{ forloop.counter }}-{{ anotherproduct.id }}" autocomplete="off" value="{{ color }}">
                            <label class="btn btn-outline-primary partialdetail-colorbutton mx-1 mb-4" for="color-{{ forloop.counter }}-{{ anotherproduct.id }}" style="background: linear-gradient(45deg, {{ color.code }}, {{ color.code2 }});"></label>
                        {% endfor %}
                        </div>

                        <div class="shopping-button d-flex justify-content-center my-3">
                            <button class="btn">Sepete Ekle</button>
                        </div>
                        {% if anotherproduct in request.user.favorites.all %}
                        <div class="deletefavorite-button d-flex justify-content-center my-3">
                            <button class="btn" name="deleteFavoriteButton">Favorilerden Çıkar</button>
                        </div>
                        {% else %}
                        <div class="addfavorite-button d-flex justify-content-center my-3">
                            <button class="btn" name="favoriteButton">Favorilere Ekle</button>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
                {% endfor %}
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn anotherproducts-nextbutton"><i class="fa-solid fa-angle-right"
                                style="color: #fff;"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <div class="container py-5" id="footer-container">
            <div class="row">
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center footer-brand-title">TobWEAR</h1>
                    <p id="footer-brand-paragraph">Gündelik, <span id="footer-brand-span">Klasik</span> Ve Modern</p>
                </div>
                
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center pb-2" id="footer-products-title">Ürünler</h2>
                    {% for product in footerproducts %}
                    <a href="{% url 'productdetail' product.slug %}" class="footer-products-a"><p class="footer-products text-white">{{ product.name }}</p></a>
                    {% endfor %}
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center pb-2" id="footer-products-title">Kategoriler</h2>
                    {% for category in footercategorys %}
                    <a href="{% url 'categorydetail' category.name %}" class="footer-products-a"><p class="footer-products text-white">{{ category.name }}</p></a>
                    {% endfor %}
                </div>

                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="text-center pb-2" id="footer-products-title">Menü</h2>
                    <a href="{% url 'about' %}" class="footer-products-a"><p class="footer-products text-white">Hakkımızda</p></a>
                    <a href="{% url 'products' %}" class="footer-products-a"><p class="footer-products text-white">Ürünler</p></a>
                    <a href="{% url 'login' %}" class="footer-products-a"><p class="footer-products text-white">Giriş</p></a>
                    <a href="{% url 'register' %}" class="footer-products-a"><p class="footer-products text-white">Kayıt</p></a>
                    <a href="{% url 'index' %}" class="footer-products-a"><p class="footer-products text-white">Anasayfa</p></a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="footer-contact d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="col-md-4 pb-3">
                        <span class="text-white d-flex justify-content-center"><i class="fa-solid fa-phone contact-icon px-1"></i> +90 123 456 78 90 </span>
                    </div>
                    <div class="col-md-4 pb-3">
                        <span class="text-white d-flex justify-content-center"><i class="fa-solid fa-envelope contact-icon px-1"></i> m.toker2009@gmail.com</span>
                    </div>
                    <div class="col-md-4 pb-3">
                        <span class="text-white d-flex justify-content-center"><i class="fa-solid fa-city contact-icon px-1"></i> Ankara, Yenimahalle</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const productSlug = "{{ product.slug }}"
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>